{% trans_default_domain 'app' %}
<div class="container user-nav">
    <ul class="main-menu-container">
        <li class="goals {{ active == 'goal' ? 'active' : '' }}" onclick="location.href = '{{ path('goals', {'_locale': app.request.attributes.get('_locale')}) }}'">
                {{ 'layout.Goals' | trans }}
        </li>
        <li class="wishes {{ active == 'wish' ? 'active' : '' }}" onclick="location.href = '{{ path('wishes', {'_locale': app.request.attributes.get('_locale')}) }}'">
            {{ 'layout.Wishes' | trans }}
        </li>
    </ul>
</div>