{% trans_default_domain 'app' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="{{ google_plus_key }}">
    <meta name="google-signin-scope" content="profile email">
    {% block meta %}{% endblock %}

    <title>
        {% block title %}PresentWish{% endblock %}
    </title>

    {#<link rel="stylesheet" href="{{ asset('libs/bootstrap/dist/css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/bootstrap.min.css') }}">
    {#<link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/app/styles/main.less') }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="{{ asset('bundles/app/styles/mdb.min.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ asset('bundles/app/styles/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <script>
        var app = app || {};
        app.googleApi = '{{ google_plus_key }}';
        app.facebookApi = '{{ facebook_app_id }}';
        app.vkontakteApi = '{{ vkontakte_app_id }}';
    </script>
</head>

<body>
    <!--Navigation-->
    <header>
        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav personal-side-nav stylish-side-nav">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!-- Logo -->
                <div class="logo-wrapper waves-light">
                    {% if not app.user.image == false %}
                        {% if app.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                            <img class="img-fluid img-circle" src="{{ app.user.image.url }}" alt="avatar" />
                        {% elseif app.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                            {%  if not app.user.image.media == false %}
                                <img class="img-fluid img-circle" src="{% path app.user.image.media, 'small' %}" alt="avatar" />
                            {% else %}
                                <img class="img-fluid img-circle" src="{{ app.user.getDefaultAvatar() }}" alt="avatar" />
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <img class="img-fluid img-circle" src="{{ app.user.getDefaultAvatar() }}" alt="avatar" />
                    {% endif %}
                </div>
                <!--/. Logo -->
            {% endif %}

                <!-- Side navigation links -->
                <ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <li>
                            <a href="{{ path('goals', {'_locale': app.request.attributes.get('_locale')}) }}" class="waves-effect">
                                My Goals
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('wishes', {'_locale': app.request.attributes.get('_locale')}) }}" class="waves-effect">
                                My Wishes
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}" class="waves-effect">
                                {{ 'layout.profile'|trans }}
                            </a>
                        </li>

                        <div class="dropdown-divider"></div>

                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="waves-effect">
                                <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout
                            </a>
                        </li>

                        {% else %}
                        <li>
                            <a onclick="$('.button-collapse').sideNav('hide');" href="#" class="waves-effect" id="left-menu-sign-in" data-toggle="modal" data-target="#modal-sign-in">
                                {{ 'Sign In' | trans }}
                            </a>
                        </li>
                        <li>
                            <a onclick="$('.button-collapse').sideNav('hide');" href="#" class="waves-effect" id="sign-up" data-toggle="modal" data-target="#modal-sign-up">
                                {{ 'Sign Up' | trans }}
                            </a>
                        </li>

                    {% endif %}
                    <div class="dropdown-divider"></div>

                    <li>
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-eye"></i>&nbsp;&nbsp;{{ 'PresentWish' | trans }}
                                </a>

                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">{{ 'Our Range' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Blog' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Testimonials' | trans }}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                   <i class="fa fa-link"></i>&nbsp;&nbsp;{{ 'Helpful Links' | trans }}
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">{{ 'FAQ' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'How it works' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Partners' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'API' | trans }}</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    &nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;{{ 'Information' | trans }}
                                </a>

                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">{{ 'Cookie Policy' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Privacy Policy' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Contact Us' | trans }}</a></li>
                                        <li><a href="#" class="waves-effect">{{ 'Terms & Conditions' | trans }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--/. Side navigation links -->
        </ul>
        <!--/. Sidebar navigation -->

        <!-- Navbar -->
        <nav class="navbar navbar-fixed-top scrolling-navbar double-nav bg-blue {% block navbar_class %}{% endblock %}">
            <div class="container">
                <!-- SideNav slide-out button -->
                <div class="pull-left">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <!--LogoPlaceholder-->
                <a class="navbar-brand no-effect" href="{{ path('homepage') }}">
                    <img class="img-fluid" src="{{ asset('bundles/app/img/logo-5.png') }}"/>
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!--User Menu-->
                    <div class="pull-right avatar hidden-md-down">
                        <a class="nav-link dropdown-toggle no-effect" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if not app.user.image == false %}
                                {% if app.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                                    <img class="img-fluid img-circle" src="{{ app.user.image.url }}" alt="avatar" />
                                {% elseif app.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                                    {%  if not app.user.image.media == false %}
                                        <img class="img-fluid img-circle" src="{% path app.user.image.media, 'small' %}" alt="avatar" />
                                    {% else %}
                                        <img class="img-fluid img-circle" src="{{ app.user.getDefaultAvatar() }}" alt="avatar" />
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <img class="img-fluid img-circle" src="{{ app.user.getDefaultAvatar() }}" alt="avatar" />
                            {% endif %}
                            <span>{{ app.user.username }}</span>
                        </a>

                        <div class="dropdown-menu dropdown-warning user-dropdown" aria-labelledby="user-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <a class="dropdown-item" href="{{ path('goals', {'_locale': app.request.attributes.get('_locale')}) }}">
                                {{ 'layout.my_goals' | trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('wishes', {'_locale': app.request.attributes.get('_locale')}) }}">
                                {{ 'layout.my_wishes' | trans }}
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                                {{ 'layout.profile'|trans }}
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <!--User Menu-->
                    <ul class="nav navbar-nav pull-right hidden-md-down">
                        <li class="nav-item no-effect active">
                            <a class="nav-link no-effect" href="#" id="sign-in" data-toggle="modal" data-target="#modal-sign-in">
                                <i class="fa fa-sign-in"></i>&nbsp&nbsp{{ 'Sign In' | trans }}
                            </a>
                        </li>
                        <li class="nav-item no-effect">
                            <a class="nav-link no-effect" href="#" id="sign-up" data-toggle="modal" data-target="#modal-sign-up">
                                {{ 'Sign Up' | trans }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <!-- /.Navbar -->

    </header>
    <!--/.Navigation-->

<!-- MAIN CONTENT START -->
{% block carousel %}{% endblock %}
<!-- SETTING CURRENT PAGE URL VALUE-->
{% set getPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))%}

<div class="container {% block mainClass %}user-nav{% endblock %} {%if getPath == '/goals'%} no-margin-top {% endif %}">
    {% block main %}{% endblock %}
</div>

<!-- ADDITIONAL CONTENT FOR GOALS -->
{% block popular_goals %}{% endblock %}
<!-- ADDITIONAL CONTENT FOR GOALS END-->

<!-- MAIN CONTENT END -->

<!--Footer-->
<footer class="page-footer {% if getPath ==  path('goals') %} no-margin-top {% endif %} center-on-small-only no-padding bg-dark-gray">

    <!--Call to action-->
    <div class="call-to-action bg-gray no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <br class="hidden-sm-down"/>
                    <a href="#" class="btn btn-orange width-75-percent text-uppercase no-shadow" style="margin-top: -2px">
                        {{ 'Contact Us' | trans }}
                    </a>
                </div>
                <hr class="hidden-lg-up">
                <div class="col-md-12 col-lg-4">
                    <h6 class="text-uppercase width-75-percent">{{ 'Get our newsletter' | trans }}</h6>
                    <input type="text" class="width-75-percent" style="margin-top: 2px;" placeholder="{{ 'Enter Your Email' | trans }}"/>
                </div>
                <hr class="hidden-lg-up">
                <div class="col-md-12 col-lg-4">
                    <h6 class="text-uppercase width-75-percent">{{ 'We are in social networks' | trans }}</h6>
                    <!--Facebook-->
                    <button type="button" class="btn btn-fb footer-social no-shadow"><i class="fa fa-facebook"></i></button>
                    <!--Twitter-->
                    <button type="button" class="btn btn-tw footer-social no-shadow"><i class="fa fa-twitter"></i></button>
                    <!--Instagram-->
                    <button type="button" class="btn btn-ins footer-social no-shadow"><i class="fa fa-instagram"></i></button>
                    <!--Pinterest-->
                    <button type="button" class="btn btn-pin footer-social no-shadow"><i class="fa fa-pinterest"></i></button>
                    <!--Vkontakte-->
                    <button type="button" class="btn btn-vk footer-social no-shadow"><i class="fa fa-vk"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--/.Call to action-->

    <!--Footer Links-->
    <div class="footer-links">
        <div class="container">
            <div class="row">
                <!--First column-->
                <div class="col-md-4">
                    <h6 class="title text-uppercase">{{ 'PresentWish' | trans }}</h6>
                    <ul>
                        <li><a href="#">{{ 'Our Range' | trans }}</a></li>
                        <li><a href="#">{{ 'Blog' | trans }}</a></li>
                        <li><a href="#">{{ 'Testimonials' | trans }}</a></li>
                    </ul>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-4">
                    <h6 class="title text-uppercase">{{ 'Helpful Links' | trans }}</h6>
                    <ul>
                        <li><a href="#">{{ 'FAQ' | trans }}</a></li>
                        <li><a href="#">{{ 'How it works' | trans }}</a></li>
                        <li><a href="#">{{ 'Partners' | trans }}</a></li>
                        <li><a href="#">{{ 'API' | trans }}</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-4">
                    <h6 class="title text-uppercase">{{ 'Information' | trans }}</h6>
                    <ul>
                        <li><a href="#">{{ 'Cookie Policy' | trans }}</a></li>
                        <li><a href="#">{{ 'Privacy Policy' | trans }}</a></li>
                        <li><a href="#">{{ 'Contact Us' | trans }}</a></li>
                        <li><a href="#">{{ 'Terms & Conditions' | trans }}</a></li>
                    </ul>
                </div>
                <!--/.Third column-->
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <hr/>

    <!--Payment icons-->
    <div class="footer-payment-links">
        <div class="container">
            <div class="row">
                <div class="col-md-12 flex-center">
                    <span><i class="fa fa-cc-visa fa-2x"></i></span>
                    &nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-cc-mastercard fa-2x"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!--/.Payment icons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2016 Copyright: <a href="http://ddi-dev.com/">ddi-dev.com</a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- MODALS START -->
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
    {{ render(controller('AppBundle:Registration:getRegistrationForm')) }}
    {{ render(controller('AppBundle:Registration:getSignUpForm')) }}
    {% include 'AppBundle:Resetting:request_content.html.twig' %}
{% endif %}
{% block resetPassword %}{% endblock %}
{% block modals %}{% endblock %}
<!-- MODALS END -->

<!-- JQuery -->
<script type="text/javascript" src="{{ asset('libs/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('bundles/app/scripts/components/tether.min.js') }}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('bundles/app/scripts/components/mdb.min.js') }}"></script>

<!-- Dev javascripts -->
<script type="text/javascript" src="{{ asset('bundles/app/scripts/components/registration.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/scripts/components/wish.js') }}"></script>

<script type="text/javascript" src="{{ asset('libs/jquery.cookie/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('libs/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('libs/jquery-validation/dist/additional-methods.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script src="https://apis.google.com/js/platform.js?onload=" async defer></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?122"></script>
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<script>
    $(document).ready(function(){
        registration.init();

        // SideNav Init
        $(".button-collapse").sideNav();

        //Animations init
        new WOW().init();
    });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
    <script src="{{ asset('bundles/app/scripts/elastic-progress.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
