<!-- Reset Password Modal -->
{% trans_default_domain 'app' %}

<div class="modal fade" id="resetPassword-modal" tabindex="-1" role="dialog" aria-labelledby="resetPassword-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="$('#signup-modal').modal('show');" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'registration.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="resetPassword">
                            <div id="reset_username_input">
                                {% if invalid_username is defined %}
                                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                                {% endif %}
                                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="text" id="username" name="username" required="required" />
                                <span id="resetting_error" style="display: none"></span>
                            </div>
                            <div>
                                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </form>
                        <span id="resetting_success" style="display: none"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>