{% trans_default_domain 'app' %}
<!-- Modal Sign In -->
<div class="modal fade modal-ext" id="modal-sign-in" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{ 'signin.title'|trans }}</h3>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn-floating btn-fb btn-small">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" class="btn-floating btn-gplus btn-small">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" class="btn-floating btn-li btn-small">
                    <i class="fa fa-vk"></i>
                </a>
            </div>
            <!--Body-->
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'signup_form'}}) }}

                <div class="md-form">
                    {{ form_widget(form.email) }}
                    {{ form_label(form.email) }}
                </div>

                <div class="md-form">
                    {{ form_widget(form.password) }}
                    {{ form_label(form.password) }}
                </div>

                <div class="text-xs-center">
                    {{ form_widget(form.signup) }}
                </div>
                {{ form_end(form) }}
                <div class="text-xs-center">
                    <div class="fp-right">
                        <a href="#" data-toggle="modal" data-target="#resetPassword-modal" data-dismiss="modal">
                            Forgot password?
                        </a>
                    </div>
                    <div>
                        {{ 'Not a member?' | trans }}
                        <a href="#" id="login-sign-up" data-toggle="modal" data-target="#modal-sign-up" data-dismiss="modal">
                            {{ 'Sign Up' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
