{% trans_default_domain 'app' %}
<!-- Modal Sign Up -->
<div class="modal fade modal-ext" id="modal-sign-up" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{ 'registration.title'|trans }}</h3>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn-floating btn-fb btn-small">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" class="btn-floating btn-gplus btn-small">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" class="btn-floating btn-li btn-small">
                    <i class="fa fa-vk"></i>
                </a>
            </div>
            <!--Body-->
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'registration_form'}}) }}

                <div class="md-form">
                    {{ form_widget(form.email) }}
                    {{ form_label(form.email) }}
                </div>

                <div class="md-form">
                    {{ form_widget(form.password) }}
                    {{ form_label(form.password) }}
                </div>

                <div class="text-xs-center">
                    {{ form_widget(form.create) }}
                </div>
                {{ form_end(form) }}
                <div class="text-xs-center">
                    <div class="fp-right">
                        <div>{{ 'Already have an account?' | trans }}</div>
                        <a href="#" id="reg-sign-in" data-toggle="modal" data-target="#modal-sign-in" data-dismiss="modal">
                            <i class="fa fa-sign-in"></i>&nbsp&nbsp{{ 'Sign In' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
