{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
    <!-- Dropzone -->
    <link href="{{ asset('bundles/app/styles/dropzone.css') }}" rel="stylesheet">

    <!-- WYSIWYG -->
    <link href="{{ asset('bundles/app/styles/prettify.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'wish'}  %}
{% endblock %}

{% block mainClass %}
    create-wish-form
{% endblock %}

{% block main %}

    <div class="createWishForm-container" data-url="{{ path('get_wish_data', {'_locale': app.request.attributes.get('_locale')}) }}">
        {{ form_start(form, {'attr':{'class':'dropzone', 'id':'create_wish_form','action': app.request.uri }}) }}
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">1</div>
                {{ form_widget(form.url) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">2</div>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">3</div>
                <div class="wish-files">
                    <div id="wish-files" class="dropzone"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">4</div>
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block" id="wysiwyg-card">
            <div class="md-form">
                <div class="form-circle">5</div>
                <div class="btn-toolbar" id="wysiwyg-editor" data-role="editor-toolbar"
                     data-target="#wish-description-editor" style="display: none">
                    <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                </div>
                <div id="wish-description-editor"></div>
                <div style="display:none">
                    {{ form_widget(form.description) }}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block form-inline">
            <div class="md-form">
                <div class="form-circle">6</div>
                <div>
                    <button id="public_access" class="btn wish-publicity active">
                        {{ 'Public' | trans }}
                    </button>
                    <button id="private_access" class="btn wish-publicity">
                        {{ 'Private' | trans }}
                    </button>
                    <button id="protected_access" class="btn wish-publicity">
                        {{ 'Protected' | trans }}
                    </button>
                </div>
            </div>
        </div>
        <div style="display: none">
        {{ form_row(form.access) }}
        </div>
        <div class="clearfix"></div>
        <div class="card-block" style="display: none">
            <div class="md-form">
                <div class="form-circle">7</div>
                <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                    {% for img in form.images %}
                        <li>{{ form_row(img.url) }}</li>
                        <li>{{ form_row(img.media) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div style="display: none">
            {{ form_row(form.images) }}
        </div>

        <div class="card-block form-inline">
            <div class="md-form text-to-right">
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock main %}
{% block javascripts %}
    {{ parent() }}
    <!-- Dropzone file uploads -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/dropzone.js') }}"></script>

    <!-- WYSIWYG -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/google-code-prettify/prettify.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/bootstrap-wysiwyg.js') }}"></script>
    <script>
        // Prevent Dropzone from auto discovering for all elements
        Dropzone.autoDiscover = false;
        Dropzone.autoProcessQueue= false;

        $(document).ready(function () {
            // SideNav Init
            $(".button-collapse").sideNav();

            //Animations init
            new WOW().init();

            // Init Dropzone
            dz = new Dropzone("div#wish-files", {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 4, // MB
                url: "{{ app.request.uri }}", //url for upload
                uploadMultiple: true,
                maxFiles: 7,
                acceptedFiles: "image/*",
                autoProcessQueue: false,
                addRemoveLinks: true,
                removedfile: function(file) {
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                }
            });

            // publicity buttons
            $('.wish-publicity').click(function () {
                $('.wish-publicity').each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });

            //wysiwyg
            $('#wish-description-editor').wysiwyg();
            $('#wish-description-editor').focus(function () {
                $('#wysiwyg-editor').show();
            });
            var row = $('.md-form').find('input');
            row.on('focus', function(){
                $(this).closest('.md-form').addClass('active');
            });
            row.on('blur', function(){
                $(this).closest('.md-form').removeClass('active');
            });
        });

        var $public = $('#public_access');
        var $protected = $('#protected_access');
        var $private = $('#private_access');

        var radio_publ = $('#create_wish_form_access_0');
        var radio_prot = $('#create_wish_form_access_1');
        var radio_priv = $('#create_wish_form_access_2');

        $public.on('click', function(e){
            e.preventDefault();
            $public.addClass('active');
            $protected.removeClass('active');
            $private.removeClass('active');

            radio_publ.prop('checked', 'checked');
        });

        $protected.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.addClass('active');
            $private.removeClass('active');
            radio_prot.prop('checked', 'checked');
        });

        $private.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.removeClass('active');
            $private.addClass('active');
            radio_priv.prop('checked', 'checked');
        });

        var desc_area = $('#create_wish_form_description');
        var desc = document.getElementById("wish-description-editor");

        desc.addEventListener("input", function() {
            desc_area.val(desc.innerHTML);
        }, false);
        $('body').on('focus', '#wish-description-editor', function(){
            $(this).addClass('active');
        });
        $('body').on('blur', '#wish-description-editor', function(){
            $(this).removeClass('active');
        });
    </script>
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addImageLink = $('<a href="#" class="add_tag_link">{{ 'wish_create. Add Image' | trans }}</a>');
        var $newLinkLi = $('<li class="add_img_li"></li>').append($addImageLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.images');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addImageForm($collectionHolder, $newLinkLi);
            });
        });

        function addImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

    </script>
{% endblock javascripts %}
