{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'wish'}  %}
{% endblock %}
{% block mainClass %}
{% endblock %}

{% block main %}
<div class="masonry">
    <div class="item">
        <div id="add_wish" class="view overlay hm-white-slight" data-url="{{ path('wish_create', {'_locale': app.request.attributes.get('_locale')}) }}">
            <div class="card">
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">{{ 'wish.create_button_text' | trans }}</h4>
                    <!--Text-->
                    <p class="card-text"><i class="fa fa-plus" aria-hidden="true"></i></p>
                </div>
            </div>
            <div class="mask"></div>
        </div>
    </div>
    {% for wish in result_wishes %}
    <div class="item wish_item_container" data-url="{{ path('wish_view', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}">
        <!--Card-->
        <div class="card no-shadow">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="{{ wish.img }}" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">{{ wish.title }}</h4>
                <!--Text-->
                <p class="card-text">{{ wish.price }}</p>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    {% endfor %}
</div>
{% endblock main %}
