{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    <!-- Top Menu Block -->
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'wish'}  %}
    <!-- End Top Menu Block -->
{% endblock %}

{% block main %}
    <!--Left Panel-->
    <div class="col-md-8">
        <div class="goal-view-slider">
            <!--Carousel Wrapper-->
            <div id="wish-slider" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {%  set class = 'active' %}
                    {%  for img in wish.images %}
                        <div class="carousel-item item {{ class }}" style="background: none">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                {#{% media img.media, 'big' with {'class': ''} %}#}
                                <img src="{% path img.media, 'middle' %}" alt />
                            {% endif %}
                        </div>
                        {%  set class = '' %}
                    {%  endfor %}
                </div>
                <!--/.Slides-->

                <!--Scrollers-->
                <a class="left carousel-control" href="#wish-slider" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#wish-slider" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Scrollers-->

                <!--Thumbnails-->
                <ol class="carousel-indicators">
                    {%  set class = 'active' %}
                    {%  set slideTo = 0 %}
                    {%  for img in wish.images %}
                        <li data-target="#wish-slider" data-slide-to="{{ slideTo }}" class="{{ class }}">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                <img src="{% path img.media, 'middle' %}" alt class="img-fluid" />
                            {% endif %}
                        </li>
                        {%  set class = '' %}
                        {%  set slideTo = slideTo + 1 %}
                    {%  endfor %}
                    <!--/.Thumbnails-->
                </ol>
                <!--/.Thumbnails-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--Description block-->
        <div class="goal-view-description">
            {{ wish.description }}
        </div>
        <!--/.Description block-->
    </div>
    <!--/.Left Panel-->

    <!--Right Panel-->
    <div class="right-panel col-md-4">
        <!--Title BLock-->
        <div class="goal-view-title">
            <h3 class="goal-public-title">
                {{ wish.title }}
            </h3>
        </div>
        <!--/.Title BLock-->

        <!--Price Block-->
        <div class="goal-view-price">
            <p class="goal-view-money-left">{{ wish.price|number_format(0, ',', ' ')  }}&nbsp {{ 'goal_view.grn'|trans }}</p>
        </div>
        <!--/.Price Block-->

        <!--Buttons-->
        <div class="goal-view-actions-block">
            <!--Button trigger sharing modal-->
            <button type="button" class="btn goal-view-btn-share btn-lg" data-toggle="modal" data-target="#shareModal">
                {{ 'goal_view.share_to_friend'|trans }}
            </button>
            <!--/.Button trigger modal-->

            <button class="btn goal-view-btn-buy-now"
                    role="button"
                    data-href="{{ path('wish_copy', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}"
                    {#onclick="alert('Coming soon...')"#}
                    onclick="location.href=$(this).data('href')"
            >
                {{ 'wish_view.copy_wish'|trans }}
            </button>

            <!-- Sharing Modal -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close text-to-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="share-modal-title"><h4 class="modal-title" id="myModalLabel">{{ 'goal_view.share_to_friend'|trans }}</h4></div>
                        </div>
                        <div class="modal-body sharing-body">
                            <span class="sharing_link">{{ url('wish_show', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}</span>
                            <hr />
                            <div
                                    class="fb-like"
                                    data-share="true"
                                    data-width="450"
                                    data-show-faces="false">
                            </div>
                            <hr />
                            <div id="vk_like"></div>
                            <script type="text/javascript">
                                VK.Widgets.Like("vk_like", {redesign: 1, type: "mini"});
                            </script>
                            <hr />
                            <div id="twitter_share_button">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                    Tweet
                                </a>
                            </div>
                            <hr />
                            <div id="ok_shareWidget"></div>
                            <hr />
                            {{ 'coming_soon'|trans }}
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Sharing Modal-->
        </div>
        <!--/.Buttons-->

    </div>
    <!--/.Right Panel-->
{% endblock main %}
{% block javascripts %}

    {#Facebook sdk#}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '559048460950582',
                xfbml      : true,
                version    : 'v2.7'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {#Twitter sdk#}
    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
{% endblock javascripts %}
{% block stylesheets %}
    <!-- VK SDK -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?127"></script>
    <script type="text/javascript">
        VK.init({apiId: {{ vk_share_id }}, onlyWidgets: true});
    </script>

    {#odnoclassniki SDK#}
    <script>
        !function (d, id, did, st) {
            var js = d.createElement("script");
            js.src = "https://connect.ok.ru/connect.js";
            js.onload = js.onreadystatechange = function () {
                if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                    if (!this.executed) {
                        this.executed = true;
                        setTimeout(function () {
                            OK.CONNECT.insertShareWidget(id,did,st);
                        }, 0);
                    }
                }};
            d.documentElement.appendChild(js);
        }(document,"ok_shareWidget","{{ app.request.uri }}","{width:160,height:25,st:'oval',sz:12,ck:2}");
    </script>

    {#Elastic progress bar#}
    <link href="{{ asset('bundles/app/styles/normalize.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/styles/elastic.css') }}" rel="stylesheet">

{% endblock stylesheets %}