{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    <!-- Top Menu Block -->
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'wish'}  %}
    <!-- End Top Menu Block -->
{% endblock %}

{% block main %}
    <!--Left Panel-->
    <div class="col-md-8">
        <div class="goal-view-slider">
            <!--Carousel Wrapper-->
            <div id="wish-slider" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {%  set class = 'active' %}
                    {%  for img in wish.images %}
                        <div class="carousel-item item {{ class }}" style="background: none">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                {#{% media img.media, 'big' with {'class': ''} %}#}
                                <img src="{% path img.media, 'middle' %}" alt />
                            {% endif %}
                        </div>
                        {%  set class = '' %}
                    {%  endfor %}
                </div>
                <!--/.Slides-->

                <!--Scrollers-->
                <a class="left carousel-control" href="#wish-slider" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#wish-slider" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Scrollers-->

                <!--Thumbnails-->
                <ol class="carousel-indicators">
                    {%  set class = 'active' %}
                    {%  set slideTo = 0 %}
                    {%  for img in wish.images %}
                        <li data-target="#wish-slider" data-slide-to="{{ slideTo }}" class="{{ class }}">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                <img src="{% path img.media, 'middle' %}" alt class="img-fluid" />
                            {% endif %}
                        </li>
                        {%  set class = '' %}
                        {%  set slideTo = slideTo + 1 %}
                    {%  endfor %}
                    <!--/.Thumbnails-->
                </ol>
                <!--/.Thumbnails-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--Description block-->
        <div class="goal-view-description">
            {{ wish.description }}
        </div>
        <!--/.Description block-->
    </div>
    <!--/.Left Panel-->

    <!--Right Panel-->
    <div class="right-panel col-md-4">
        <!--Title BLock-->
        <div class="goal-view-title">
            <h3 class="goal-public-title">
                {{ wish.title }}
            </h3>
        </div>
        <!--/.Title BLock-->

        <!--Price Block-->
        <div class="goal-view-price">
            <p class="goal-view-money-left">{{ wish.price|number_format(0, ',', ' ')  }}&nbsp {{ 'goal_view.grn'|trans }}</p>
        </div>
        <!--/.Price Block-->

        <!--Buttons-->
        <div class="goal-view-actions-block">
            <!--Button trigger sharing modal-->
            <button type="button" class="btn goal-view-btn-share btn-lg" data-toggle="modal" data-target="#shareModal">
                {{ 'goal_view.share_to_friend'|trans }}
            </button>
            <button class="btn goal-view-btn-buy-now"
                    role="button"
                    data-href="{{ path('goal_create', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}"
                    onclick="location.href=$(this).data('href')"
            >
                {{ 'wish_view.create_goal'|trans }}
            </button>
            <!--/.Button trigger modal-->

            <!--Action Links-->
            <a class="btn btn-primary btn-lg btn-width-50 pull-xs-left" role="button" href="{{ path('wish_edit', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}">
                {{ 'goal_view.edit'|trans }}
            </a>
            <a class="btn btn-default btn-lg btn-width-50 pull-xs-right" id="goal_view_btn_public" href="{{ path('wish_show', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}">
                {{ 'goal_view.public_page'|trans }}
            </a>
            <!--/.Action Links-->

            <!--Sharing modal-->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!--/.Modal Header-->
                        <div class="modal-header">
                            <button type="button" class="close text-to-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="share-modal-title"><h4 class="modal-title" id="myModalLabel">{{ 'goal_view.share_to_friend'|trans }}</h4></div>
                        </div>
                        <!--/.Modal Header-->

                        <!--Modal Body-->
                        <div class="modal-body sharing-body">
                            <span class="sharing_link">{{ url('wish_show', {'_locale': app.request.attributes.get('_locale'), 'id': wish.id}) }}</span>
                        </div>
                        <!--/.Modal Body-->

                        <!--Modal Footer-->
                        <div class="modal-footer">
                        </div>
                        <!--/.Modal Footer-->

                    </div>
                </div>
            </div>
            <!--/.Sharing modal-->
        </div>
        <!--/.Buttons-->

    </div>
    <!--/.Right Panel-->
{% endblock main %}
