{% trans_default_domain 'app' %}

<div class="modal fade" id="modal-give-money" tabindex="-1" role="dialog" aria-labelledby="modal-give-money-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-give-money-label">{{ 'goal_show.give_money'|trans }}</h4>
            </div>
            <div class="modal-body">
                {#<div class="row">#}
                    {#<div class="col-md-8">#}
                        {#<a href="{{ path('liqpay_pay', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}" >#}
                            {#<img src="{{ '/bundles/app/img/liqpay.png' }}" alt="liqpay" />#}
                        {#</a>#}
                        {#<a href="{{ path('manual_start', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}" >#}
                            {#Manually#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
                Coming soon...
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
