{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'goal'}  %}
{% endblock %}
{% block stylesheets %}
    <!-- Dropzone -->
    <link href="{{ asset('bundles/app/styles/dropzone.css') }}" rel="stylesheet">

    <!-- WYSIWYG -->
    <link href="{{ asset('bundles/app/styles/prettify.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block mainClass %}
    create-wish-form
{% endblock %}

{% block main %}
    <div class="createWishForm-container">
        {{ form_start(form, {'attr':{'class':'dropzone', 'id':'create_goal_form','action': app.request.uri }}) }}
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">1</div>
                {{ form_widget(form.url) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">2</div>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">3</div>
                <div class="wish-files">
                    <div id="wish-files" class="dropzone"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">4</div>
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block" id="wysiwyg-card">
            <div class="md-form">
                <div class="form-circle">5</div>
                <div class="btn-toolbar" id="wysiwyg-editor" data-role="editor-toolbar"
                     data-target="#wish-description-editor" style="display: none">
                    <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                </div>
                <div id="wish-description-editor">{{ wish.description }}</div>
                <div style="display: none;">
                    {{ form_widget(form.description) }}
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="card-block form-inline">
            <div class="md-form">
                <div class="form-circle">6</div>
                <div>
                    <button id="public_access" class="btn wish-publicity active">
                        {{ 'Public' | trans }}
                    </button>
                    <button id="private_access" class="btn wish-publicity">
                        {{ 'Private' | trans }}
                    </button>
                    <button id="protected_access" class="btn wish-publicity">
                        {{ 'Protected' | trans }}
                    </button>
                </div>
            </div>
        </div>
        <div style="display: none;">
            {{ form_row(form.access) }}
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="form-circle">7</div>
            <div class="md-form">
                <input value = "{{ goal.dateFinish|date("d F, Y", false) }}" placeholder="Selected date" name="finish_date" type="text" id="finish-date-picker" class="form-control datepicker">
            </div>
            <div style="display: none">
                {{ form_widget(form.date_finish) }}
            </div>
        </div>

        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">8</div>
                {{ form_widget(form.target) }}
            </div>
        </div>

        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">9</div>
                {{ form_widget(form.receiver) }}
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="card-block" style="display: none">
            <div class="md-form">
                <div class="form-circle">7</div>
                <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                    {% for img in form.images %}
                        <li>{{ form_row(img.url) }}</li>
                        <li>{{ form_row(img.media) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div style="display: none">
            {{ form_row(form.images) }}
        </div>

        <div class="card-block form-inline">
            <div class="md-form text-to-right">
                <div style="display: none">

                    {{ form_widget(form._token) }}
                </div>
                {{ form_widget(form.create) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>

    </div>

{% endblock main %}
{% block javascripts %}
    <!-- Dropzone file uploads -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/components/goals.js') }}"></script>
    <!-- WYSIWYG -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/google-code-prettify/prettify.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/bootstrap-wysiwyg.js') }}"></script>
    <script>
        // Data Picker Initialization
        $('.datepicker').pickadate();
    </script>
    <script>
        // Prevent Dropzone from auto discovering for all elements
        Dropzone.autoDiscover = false;
        Dropzone.autoProcessQueue= false;

        $(document).ready(function () {

            $(document).ready(function() {
                $('.mdb-select').material_select();
            });

            // SideNav Init
            $(".button-collapse").sideNav();

            //Animations init
            new WOW().init();

            // Init Dropzone
            dz = new Dropzone("div#wish-files", {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 4, // MB
                url: "{{ app.request.uri }}", //url for upload
                uploadMultiple: true,
                maxFiles: 7,
                acceptedFiles: "image/*",
                autoProcessQueue: false,
                addRemoveLinks: true,
                removedfile: function(file) {
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                }
            });

            // publicity buttons
            $('.wish-publicity').click(function () {
                $('.wish-publicity').each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });

            //wysiwyg
            $('#wish-description-editor').wysiwyg();
            $('#wish-description-editor').focus(function () {
                $('#wysiwyg-editor').show();
            });
            var row = $('.md-form').find('input');
            row.on('focus', function(){
                $(this).closest('.md-form').addClass('active');
            });
            row.on('blur', function(){
                $(this).closest('.md-form').removeClass('active');
            });
        });

        var $public = $('#public_access');
        var $protected = $('#protected_access');
        var $private = $('#private_access');

        var radio_publ = $('#create_goal_form_access_0');
        var radio_prot = $('#create_goal_form_access_1');
        var radio_priv = $('#create_goal_form_access_2');

        $public.on('click', function(e){
            e.preventDefault();
            $public.addClass('active');
            $protected.removeClass('active');
            $private.removeClass('active');

            radio_publ.prop('checked', 'checked');
        });

        $protected.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.addClass('active');
            $private.removeClass('active');
            radio_prot.prop('checked', 'checked');
        });

        $private.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.removeClass('active');
            $private.addClass('active');
            radio_priv.prop('checked', 'checked');
        });

        var desc_area = $('#create_goal_form_description');
        var desc = document.getElementById("wish-description-editor");

        desc.addEventListener("input", function() {
            desc_area.val(desc.innerHTML);
        }, false);
        $('body').on('focus', '#wish-description-editor', function(){
            $(this).addClass('active');
        });
        $('body').on('blur', '#wish-description-editor', function(){
            $(this).removeClass('active');
        });
        $(document).ready(function () {
            //dropzone show exists images script

            //Add existing files into dropzone
            var existingFiles = {{ images|json_encode|raw }};

            for (i = 0; i < existingFiles.length; i++) {
                dz.emit("addedfile", existingFiles[i]);
                dz.emit("thumbnail", existingFiles[i], existingFiles[i]['thumb']);
                dz.emit("complete", existingFiles[i]);

                $( ".wish-files .dz-preview" ).last().attr('data-id', existingFiles[i]['id']).children('.dz-remove').attr('onclick', 'removeDzExistImage(this);');
                //dz each addClass and data-id
            }

            function removeDzExistImage(a) {
                var id = $(a).parent('.dz-preview').data('id');
                $('#create_goal_form').append('<input type="hidden" name="media_id[]" value="' + id + '" />');
            }
            // end dropzone show exists images script
        });
    </script
{% endblock javascripts %}
