{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
    <!-- Dropzone -->
    <link href="{{ asset('bundles/app/styles/dropzone.css') }}" rel="stylesheet">

    <!-- WYSIWYG -->
    <link href="{{ asset('bundles/app/styles/prettify.css') }}" rel="stylesheet">
{% endblock stylesheets %}


{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'goal'}  %}
{% endblock %}

{% block mainClass %}
    create-wish-form
{% endblock %}

{% block main %}

    <div class="createWishForm-container">
        {{ form_start(form, {'attr':{'class':'dropzone', 'id':'create_goal_form','action': app.request.uri }}) }}
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">1</div>
                {{ form_widget(form.url) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">2</div>
                {{ form_widget(form.title) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">3</div>
                <div class="wish-files">
                    <div id="wish-files" class="dropzone"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">4</div>
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block" id="wysiwyg-card">
            <div class="md-form">
                <div class="form-circle">5</div>
                <div class="btn-toolbar" id="wysiwyg-editor" data-role="editor-toolbar"
                     data-target="#wish-description-editor" style="display: none">
                    <div class="btn-group">
                        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                </div>
                <div id="wish-description-editor">
                    {{ form.vars.value.description }}
                </div>
                <div style="display:none">
                    {{ form_widget(form.description) }}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block form-inline">
            <div class="md-form">
                <div class="form-circle">6</div>
                <div>
                    <button id="public_access"
                            class="btn wish-publicity {{ form.vars.value.access == constant('AppBundle\\Form\\Type\\Wish\\CreateWishFormType::PUBLIC_ACCESS') ? 'active' : '' }}">
                        {{ 'Public' | trans }}
                    </button>
                    <button id="private_access"
                            class="btn wish-publicity {{ form.vars.value.access == constant('AppBundle\\Form\\Type\\Wish\\CreateWishFormType::PRIVATE_ACCESS') ? 'active' : '' }}">
                        {{ 'Private' | trans }}
                    </button>
                    <button id="protected_access"
                            class="btn wish-publicity {{ form.vars.value.access == constant('AppBundle\\Form\\Type\\Wish\\CreateWishFormType::PROTECTED_ACCESS') ? 'active' : '' }}">
                        {{ 'Protected' | trans }}
                    </button>
                </div>
            </div>
        </div>
        <div style="display: none">
            {{ form_row(form.access) }}
        </div>
        <div class="clearfix"></div>
        <div class="card-block">
            <div class="form-circle">7</div>
            <div class="md-form">
                <input value = "{{ goal.dateFinish|date("d F, Y", false) }}" placeholder="Selected date" name="finish_date" type="text" id="finish-date-picker" class="form-control datepicker">
            </div>
            <div style="display: none">
                {{ form_widget(form.date_finish) }}
            </div>
        </div>

        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">8</div>
                {{ form_widget(form.target) }}
            </div>
        </div>

        <div class="card-block">
            <div class="md-form">
                <div class="form-circle">9</div>
                {{ form_widget(form.receiver) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-block" style="display: none">
            <div class="md-form">
                <div class="form-circle">7</div>
                <span  id="countImages" data-count="{{ goal.images|length }}"></span>
                <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}" data-url="{{ path('wish_image_delete', {'_locale': app.request.attributes.get('_locale')}) }}">

                    {%  for img in goal.images %}
                        <li>
                            {% if not img.url == false %}
                                <img width="100" src="{{ img.url }}" alt="{{ img.url }}" />
                                <a data-id="{{ img.id }}" class="delete_wishimage_button" href="javascript:" class="delete_link">
                                    {{ 'wish_edit.delete_image_link'|trans }}
                                </a>
                            {% elseif not img.media == false %}
                                {% media img.media, 'small' with {'class': 'myclass'} %}
                                <a data-id="{{ img.id }}" class="delete_wishimage_button" href="javascript:" class="delete_link">
                                    {{ 'wish_edit.delete_image_link'|trans }}
                                </a>
                            {% endif %}

                        </li>
                    {%  endfor %}

                </ul>
            </div>
        </div>
        {#{{ form_widget(form.edit) }}#}
        {#{{ form_widget(form._token) }}#}
        {#{{ form_end(form, {'render_rest': false}) }}#}

        <div style="display: none">
            {{ form_row(form.images) }}
        </div>

        <div class="card-block form-inline">
            <div class="md-form text-to-right">
                <div style="display: none">

                    {{ form_widget(form._token) }}
                </div>
                {{ form_widget(form.edit) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>

        {#<div class="card-block form-inline">#}
            {#<div class="md-form text-to-right">#}
                {#{{ form_end(form) }}#}
            {#</div>#}
        {#</div>#}
        {#{{ form_end(form, {'render_rest': false}) }}#}
    </div>
{% endblock main %}
{% block javascripts %}
    {{ parent() }}
    <!-- Dropzone file uploads -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/components/goals.js') }}"></script>

    <!-- WYSIWYG -->
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/google-code-prettify/prettify.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/components/bootstrap-wysiwyg.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.mdb-select').material_select();
        });
        // Prevent Dropzone from auto discovering for all elements
        Dropzone.autoDiscover = false;

        // SideNav Init
        $(".button-collapse").sideNav();

        //Animations init
        new WOW().init();

        // Init Dropzone
        dz = new Dropzone("div#wish-files", {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 4, // MB
            url: "{{ app.request.uri }}", //url for upload
            uploadMultiple: true,
            maxFiles: 7,
            acceptedFiles: "image/*",
            autoProcessQueue: false,
            addRemoveLinks: true,
            removedfile: function(file) {
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

        //Add existing files into dropzone
        var existingFiles = {{ images|json_encode|raw }};

        for (i = 0; i < existingFiles.length; i++) {
            dz.emit("addedfile", existingFiles[i]);
            dz.emit("thumbnail", existingFiles[i], existingFiles[i]['thumb']);
            dz.emit("complete", existingFiles[i]);

            $( ".wish-files .dz-preview" ).last().attr('data-id', existingFiles[i]['id']).children('.dz-remove').attr('onclick', 'removeDzExistImage(this);');
            //dz each addClass and data-id
        }

        function removeDzExistImage(a) {
            var id = $(a).parent('.dz-preview').data('id');
            $('#create_goal_form').append('<input type="hidden" name="media_id[]" value="' + id + '" />');
        }

        var $public = $('#public_access');
        var $protected = $('#protected_access');
        var $private = $('#private_access');

        var radio_publ = $('#edit_wish_form_access_0');
        var radio_prot = $('#edit_wish_form_access_1');
        var radio_priv = $('#edit_wish_form_access_2');

        $public.on('click', function(e){
            e.preventDefault();
            $public.addClass('active');
            $protected.removeClass('active');
            $private.removeClass('active');

            radio_publ.prop('checked', 'checked');
        });

        $protected.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.addClass('active');
            $private.removeClass('active');
            radio_prot.prop('checked', 'checked');
        });

        $private.on('click', function(e){
            e.preventDefault();
            $public.removeClass('active');
            $protected.removeClass('active');
            $private.addClass('active');
            radio_priv.prop('checked', 'checked');
        });

        var desc_area = $('#edit_wish_form_description');
        var desc = document.getElementById("wish-description-editor");

        desc.addEventListener("input", function() {
            desc_area.val(desc.innerHTML);
        }, false);
        $('body').on('focus', '#wish-description-editor', function(){
            $(this).addClass('active');
        });
        $('body').on('blur', '#wish-description-editor', function(){
            $(this).removeClass('active');
        });
    </script>
    <script>
        var $collectionHolder;
        var $indexSpan;

        // setup an "add a tag" link
        var $addImageLink = $('<a href="#" class="add_tag_link">{{ 'wish_create. Add Image' | trans }}</a>');
        var $newLinkLi = $('<li class="add_img_li"></li>').append($addImageLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.images');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)

            $indexSpan = $('#countImages');
            if($indexSpan.length != 0){
                $collectionHolder.data('index', $indexSpan.data('count'));
            } else {
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
            }

            $addImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addImageForm($collectionHolder, $newLinkLi);
            });
        });

        function addImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

    </script>
{% endblock javascripts %}

{#{% block main %}#}
    {#<p>#}
        {#<a href="{{ path('goals', {'_locale': app.request.attributes.get('_locale')}) }}">#}
            {#<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp#}
            {#{{ 'goal.back_to_goals'|trans }}#}
        {#</a>#}
    {#</p>#}
    {#<h3>{{ 'Edit_Goal'|trans }}</h3>#}
    {#<div class="createWishForm-container" data-url="{{ path('get_wish_data', {'_locale': app.request.attributes.get('_locale')}) }}">#}
        {#{{ form_start(form) }}#}
        {#{{ form_row(form.access) }}#}
        {#{{ form_row(form.date_finish) }}#}
        {#{{ form_row(form.receiver) }}#}
        {#{{ form_row(form.target) }}#}
        {#{{ form_row(form.url) }}#}
        {#{{ form_row(form.title) }}#}

        {#<h3>{{ 'goal.images_label'|trans }}</h3>#}
        {#<span  id="countImages" data-count="{{ goal.images|length }}"></span>#}
        {#<ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}" data-url="{{ path('goal_image_delete', {'_locale': app.request.attributes.get('_locale')}) }}">#}

            {#{%  for img in goal.images %}#}
                {#<li>#}
                    {#{% if not img.url == false %}#}
                        {#<img width="100" src="{{ img.url }}" alt="{{ img.url }}" />#}
                        {#<a data-id="{{ img.id }}" class="delete_wishimage_button" href="javascript:" class="delete_link">#}
                            {#{{ 'goal_edit.delete_image_link'|trans }}#}
                        {#</a>#}
                    {#{% elseif not img.media == false %}#}
                        {#{% media img.media, 'small' with {'class': 'myclass'} %}#}
                        {#<a data-id="{{ img.id }}" class="delete_wishimage_button" href="javascript:" class="delete_link">#}
                            {#{{ 'goal_edit.delete_image_link'|trans }}#}
                        {#</a>#}
                    {#{% endif %}#}

                {#</li>#}
            {#{%  endfor %}#}

        {#</ul>#}
        {#{{ form_row(form.price) }}#}
        {#{{ form_row(form.description) }}#}
        {#{{ form_widget(form.edit) }}#}
        {#{{ form_widget(form._token) }}#}
        {#{{ form_end(form, {'render_rest': false}) }}#}
    {#</div>#}
{#{% endblock main %}#}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#var $collectionHolder;#}
        {#var $indexSpan;#}

        {#// setup an "add a tag" link#}
        {#var $addImageLink = $('<a href="#" class="add_tag_link">{{ 'goal_edit.add_image' | trans }}</a>');#}
        {#var $newLinkLi = $('<li class="add_img_li"></li>').append($addImageLink);#}

        {#jQuery(document).ready(function() {#}
            {#// Get the ul that holds the collection of tags#}
            {#$collectionHolder = $('ul.images');#}

            {#// add the "add a tag" anchor and li to the tags ul#}
            {#$collectionHolder.append($newLinkLi);#}

            {#// count the current form inputs we have (e.g. 2), use that as the new#}
            {#// index when inserting a new item (e.g. 2)#}

            {#$indexSpan = $('#countImages');#}
            {#if($indexSpan.length != 0){#}
                {#$collectionHolder.data('index', $indexSpan.data('count'));#}
            {#} else {#}
                {#$collectionHolder.data('index', $collectionHolder.find(':input').length);#}
            {#}#}

            {#$addImageLink.on('click', function(e) {#}
                {#// prevent the link from creating a "#" on the URL#}
                {#e.preventDefault();#}

                {#// add a new tag form (see next code block)#}
                {#addImageForm($collectionHolder, $newLinkLi);#}
            {#});#}
        {#});#}

        {#function addImageForm($collectionHolder, $newLinkLi) {#}
            {#// Get the data-prototype explained earlier#}
            {#var prototype = $collectionHolder.data('prototype');#}

            {#// get the new index#}
            {#var index = $collectionHolder.data('index');#}

            {#// Replace '__name__' in the prototype's HTML to#}
            {#// instead be a number based on how many items we have#}
            {#var newForm = prototype.replace(/__name__/g, index);#}

            {#// increase the index with one for the next item#}
            {#$collectionHolder.data('index', index + 1);#}

            {#// Display the form in the page in an li, before the "Add a tag" link li#}
            {#var $newFormLi = $('<li></li>').append(newForm);#}
            {#$newLinkLi.before($newFormLi);#}
        {#}#}

    {#</script>#}
{#{% endblock javascripts %}#}
