{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/styles/elastic.css') }}" rel="stylesheet">
{% endblock %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'goal'}  %}
{% endblock %}

{% block main %}
    <div class="container">
        {% for goal in goals if goals %}

            <!--Card-->
            <div class="card shadow-card clear">

                <!--Card image-->
                <div class="col-xs-6 image-padding">
                    {% set img = goal.images|first %}
                    {%  if img %}
                        {% if not img.url == false %}
                            <img class="img-fluid" src="{{ img.url }}" alt="{{ img.url }}" />
                        {% else %}
                            {% media img.media, 'big' with {'class': 'img-fluid'} %}
                        {% endif %}
                    {%  endif %}
                </div>
                <!--/.Card image-->

                <div class="col-xs-6">

                    <!--Card content-->
                    <div class="card-block">

                        <!--Title-->
                        <h3 class="card-title upper"><b>{{ goal.title }}</b></h3>

                        <!--Text-->
                        <h6 class="card-text upper">Left:</h6>
                        <div class="left-time">
                            <span class="price-amount">{{ goal.getLeftTime() }}</span>&nbsp;{{ 'goal_view.days'|trans }}
                        </div>
                        <div class="green-price">
                            <b>
                                {{ goal.price|number_format(0, ',', ' ')  }}&nbsp {{ 'goal_view.grn'|trans }}
                            </b>
                        </div>
                        <div class="goal-state">
                            <div role="button" tabindex="0" aria-label="collected"
                                 class="collected"
                                 data-progressbar-label="Collecting..."
                                 data-collected-full="{{ goal.getAmount() }}"
                                 data-collected-partial="{{ goal.getAmount('partial') }}"></div>
                        </div>
                        <p>{{ goal.description | truncate(500)}}</p>
                        <div class="goals-details">
                            <a href="{{ path('goal_view', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}">
                                <button type="button" class="btn btn-success details-button" align="center">Details</button>
                            </a>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
            </div>
            <!--/.Card-->
        {% endfor %}
        <div class="card">
            <a href="#" class="btn btn-primary goals-button border-radiuses col-xs-12">Add new goal</a>
        </div>
    </div>

{% endblock main %}

{% block popular_goals %}
    <div class="popular-goals">
        <div class="container">
             <div class="card-block">
                 <p class="font-popular-goals">Popular goals</p>
             </div>

            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                    <a class="btn-floating btn-small" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating btn-small" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item item active opacity">

                        <div class="col-md-3">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(1).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Samsung</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(3).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Road Trippin</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(3).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Seaside walk</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(2).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Sony</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item item opacity">

                        <div class="col-md-3">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(1).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Samsung</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(3).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Road Trippin</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(3).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Seaside walk</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 hidden-sm-down">
                            <div class="card no-shadow">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/regular/nature/img%20(2).jpg" alt="Card image cap">
                                <div class="card-block carousel-background">
                                    <h5 class="card-title popular-goals-font">Sony</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->

                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->

        </div>
    </div>
{% endblock popular_goals %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/components/goals.js') }}"></script>
{% endblock javascripts %}
