{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'goal'}  %}
{% endblock %}

{% block modals %}
    {% include "AppBundle:Goal:_payment.html.twig" %}
{% endblock %}

{% block main %}
    <!--Left Panel-->
    <div class="left-panel col-md-8">
        <div class="goal-view-slider">
            <!--Carousel Wrapper-->
            <div id="goal-slider" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {%  set class = 'active' %}
                    {%  for img in goal.images %}
                        <div class="carousel-item item {{ class }}" style="background: none">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                {#{% media img.media, 'big' with {'class': ''} %}#}
                                <img src="{% path img.media, 'middle' %}" alt />
                            {% endif %}
                        </div>
                        {%  set class = '' %}
                    {%  endfor %}
                </div>
                <!--/.Slides-->

                <!--Scrollers-->
                <a class="left carousel-control" href="#goal-slider" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#goal-slider" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Scrollers-->

                <!--Thumbnails-->
                <ol class="carousel-indicators">
                    {%  set class = 'active' %}
                    {%  set slideTo = 0 %}
                    {%  for img in goal.images %}
                        <li data-target="#goal-slider" data-slide-to="{{ slideTo }}" class="{{ class }}">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                <img src="{% path img.media, 'middle' %}" alt class="img-fluid" />
                            {% endif %}
                        </li>
                        {%  set class = '' %}
                        {%  set slideTo = slideTo + 1 %}
                    {%  endfor %}
                </ol>
                <!--/.Thumbnails-->

            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--Description block-->
        <div class="goal-view-description">
            {{ goal.description }}
        </div>
        <!--/.Description block-->
    </div>
    <!--/.Left Panel-->

    <!--Right Panel-->
    <div class="right-panel col-md-4">
        <!--Title Block-->
        <div class="goal-view-title">
            <h3 class="goal-public-title">
                {{ goal.title }}
            </h3>
        </div>
        <!--/.Title Block-->

        <!--Left Time Block-->
        <div class="goal-view-left-time">
            <p>{{ 'goal_view.Осталось'|trans }}:</p>
            <p class="goal-view-public-days-left goal-view-block">
                {{ goal.getLeftTime() }}&nbsp;{{ 'goal_view.days'|trans }}
            </p>
        </div>
        <!--/.Left Time Block-->

        <!--Price Block-->
        <div class="goal-view-price">
            <p class="goal-view-money-left">{{ goal.price|number_format(0, ',', ' ')  }}&nbsp {{ 'goal_view.grn'|trans }}</p>
            <div role="button"
                 tabindex="0"
                 aria-label="pricebar"
                 class="pricebar"
                 data-collected-partial="{{ goal.getAmount('partial') }}"
                 data-collected-full="{{ goal.getAmount() }}"
                 data-progressbar-label="Processing..."
            >
            </div>
        </div>
        <!--/.Price Block-->

        <!--Target Block-->
        <div class="goal-view-target">
            <p class="goal-view-target-label">
                {{ 'goal_view.goal_target'|trans }}&#58;
            </p>
            <div class="goal-view-target-container">
                <div class="goal-view-block goal-view-target-block-first">
                    {{ goal.target.title|trans }}
                </div>
                <div class="goal-view-block goal-view-target-block-second">
                    {{ goal.getReceiverTitle()|trans }}
                </div>
            </div>
        </div>
        <!--/.Target Block-->

        <!--Buttons Block-->
        <div class="goal-view-actions-block">
            <!-- Button trigger sharing modal -->
            <button type="button" class="btn goal-view-btn-share btn-lg" data-toggle="modal" data-target="#shareModal">
                {{ 'goal_view.share_to_friend'|trans }}
            </button>
            <!-- Sharing Modal -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close text-to-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="share-modal-title"><h4 class="modal-title" id="myModalLabel">{{ 'goal_view.share_to_friend'|trans }}</h4></div>
                        </div>
                        <div class="modal-body sharing-body">
                            <span class="sharing_link">{{ url('goal_show', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}</span>
                            <hr />
                            <div
                            class="fb-like"
                            data-share="true"
                            data-width="450"
                            data-show-faces="false">
                            </div>
                            <hr />
                            <div id="vk_like"></div>
                            <script type="text/javascript">
                                VK.Widgets.Like("vk_like", {redesign: 1, type: "mini"});
                            </script>
                            <hr />
                            <div id="twitter_share_button">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                    Tweet
                                </a>
                            </div>
                            <hr />
                            <div id="ok_shareWidget"></div>
                            <hr />
                            {{ 'coming_soon'|trans }}
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Sharing Modal-->
        </div>
        <!--/.Buttons Block-->

        <!--Statistic Block-->
        <div class="goal-show-stats ">
            <h4>{{ 'goal_view.statistic'|trans|upper }}</h4>
            <p class="goal-view-stats-label">{{ 'goal_view.views'|trans }}</p>

            <!--Statistic table-->
            <table class="goal-view-social-table">
                <tr class="goal-view-social-table-images-row">
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/insta.png') }}"  alt="instagramm"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/vk.png') }}"  alt="v k"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/fb.png') }}"  alt="fb"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/twitter.png') }}"  alt="twitter"/>
                    </td>
                    <td>
                        <img height="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/ok.png') }}"  alt="ok"/>
                    </td>
                </tr>
                <tr id="social-counters">
                    <td>{{ goal.instaStat }}</td>
                    <td>{{ goal.vkStat }}</td>
                    <td>{{ goal.fbStat }}</td>
                    <td>{{ goal.twitterStat }}</td>
                    <td>{{ goal.okStat }}</td>
                </tr>
            </table>
            <!--/.Statistic table-->
            <hr />
        </div>
        <!--/.Statistic Block-->

        <!--Money Logs Block-->
        <div class="goal-view-money-logs">
            <h4>{{ 'goal_view.money_logs'|trans|upper }}</h4>
            <button class="btn goal-show-btn-give-money btn-lg waves-effect waves-light" data-toggle="modal" data-target="#modal-give-money">
            <span>{{ 'goal_show.give_money'|trans }}</span>
            </button>

            <!--Money Logs table-->
            <table class="table" id="moneyLogs">
                {% if goal.moneyLogs|length < 1 %}
                    <tr>
                        <td colspan="3" style="text-align: left">
                            {{ 'goal_view.no_body_get_money'|trans }}...
                        </td>
                    </tr>
                {% else %}
                    {% for log in goal.moneyLogs %}
                        <tr>
                            <td>
                                {% if log.type == 1 %}
                                    {% if not log.user == false %}
                                        {% if not log.user.image == false %}
                                            {% if log.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                                                <img width=50 height=50 class="profile-user-avatar" src="{{ log.user.image.url }}" alt="avatar" />
                                            {% elseif log.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                                                {%  if not log.user.image.media == false %}
                                                    <img width=50 class="profile-user-avatar" src="{% path log.user.image.media, 'small' %}" alt="avatar" />
                                                {% else %}
                                                    <img width=50 class="profile-user-avatar" src="{{ log.user.getDefaultAvatar() }}" alt="avatar" />
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <img width=50 class="profile-user-avatar" src="{{ log.user.getDefaultAvatar() }}" alt="avatar" />
                                        {% endif %}
                                    {% else %}
                                        <img width=50 src="https://cdn.bookbottles.com/front/assets/images/icon-guest.png" alt="no_avatar" />
                                    {% endif %}

                                {% elseif log.type == 2 %}
                                    <img width=50 height=50 src="http://agarioskins.com/submitted/useruploads/anonymous_mask_classic_round_sticker-r1f44743090f54cd995cf1a560de89582_v9waf_8byvr_512.png" alt="anonymous" />
                                {% endif %}
                            </td>
                            <td class="moneylog-name-and-date">
                                <span>
                                    {% if log.type == 2 %}
                                        {{ 'goal_view.money_log_anonymous'|trans }}
                                    {% elseif log.user == false %}
                                        {{ log.username }}
                                    {% else %}
                                        {{ log.user.username }}
                                    {% endif %}
                                </span>
                                <span class="moneylog-date">
                                    {{ log.createdAt|date('d F Y') }}
                                </span>
                            </td>
                            <td>
                                {{ log.amount|number_format(0, ',', ' ')  }}&nbsp{{ 'goal_view.grn'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </table>
            <!--/.Money Logs table -->

            <hr />
            <div class="goal-view-moneylogs-show-more-container">
                {% if goal.moneyLogs|length > 3 %}
                    <a href="javascript:" class="" id="loadMore">
                        {{ 'show_more'|trans|upper }}
                    </a>
                {% endif %}
            </div>
        </div>
        <!--/.Money Logs Block-->

        <!--Left Amount Block-->
        <div class="goal-view-amount-left">
            <div class="col-md-6">
                {{ 'goal_view.money_left'|trans }}
            </div>
            <div class="col-md-6 text-to-right">
                {{ goal.getMoneyLeft()|number_format(0, ',', ' ')  }}&nbsp{{ 'goal_view.grn'|trans }}
            </div>
        </div>
        <!--/.Description Block-->
    </div>
    <!--/.Right Panel-->
{% endblock main %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/components/goals.js') }}"></script>

    {#Facebook sdk#}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '559048460950582',
                xfbml      : true,
                version    : 'v2.7'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {#Twitter sdk#}
    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
{% endblock javascripts %}
{% block stylesheets %}
    <!-- VK SDK -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?127"></script>
    <script type="text/javascript">
        VK.init({apiId: {{ vk_share_id }}, onlyWidgets: true});
    </script>

    {#odnoclassniki SDK#}
    <script>
        !function (d, id, did, st) {
            var js = d.createElement("script");
            js.src = "https://connect.ok.ru/connect.js";
            js.onload = js.onreadystatechange = function () {
                if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                    if (!this.executed) {
                        this.executed = true;
                        setTimeout(function () {
                            OK.CONNECT.insertShareWidget(id,did,st);
                        }, 0);
                    }
                }};
            d.documentElement.appendChild(js);
        }(document,"ok_shareWidget","{{ app.request.uri }}","{width:160,height:25,st:'oval',sz:12,ck:2}");
    </script>

    {#Elastic progress bar#}
    <link href="{{ asset('bundles/app/styles/normalize.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/styles/elastic.css') }}" rel="stylesheet">

{% endblock stylesheets %}