{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block carousel %}
    {% include "AppBundle::_topmenu.html.twig" with {'active': 'goal'}  %}
{% endblock %}

{% block main %}
    <!--Left Panel-->
    <div class="col-md-8">
        <div class="goal-view-slider">
            <!--Carousel Wrapper-->
            <div id="goal-slider" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {%  set class = 'active' %}
                    {%  for img in goal.images %}
                        <div class="carousel-item item {{ class }}" style="background: none">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                {#{% media img.media, 'big' with {'class': ''} %}#}
                                <img src="{% path img.media, 'middle' %}" alt />
                            {% endif %}
                        </div>
                        {%  set class = '' %}
                    {%  endfor %}
                </div>
                <!--/.Slides-->

                <!--Scrollers-->
                <a class="left carousel-control" href="#goal-slider" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#goal-slider" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Scrollers-->

                <!--Thumbnails-->
                <ol class="carousel-indicators">
                    {%  set class = 'active' %}
                    {%  set slideTo = 0 %}
                    {%  for img in goal.images %}
                        <li data-target="#goal-slider" data-slide-to="{{ slideTo }}" class="{{ class }}">
                            {% if not img.url == false %}
                                <img src="{{ img.url }}" alt="{{ img.url }}" />
                            {% else %}
                                <img src="{% path img.media, 'middle' %}" alt class="img-fluid" />
                            {% endif %}
                        </li>
                        {%  set class = '' %}
                        {%  set slideTo = slideTo + 1 %}
                    {%  endfor %}
                <!--/.Thumbnails-->
                </ol>
                <!--/.Thumbnails-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--Description block-->
        <div class="goal-view-description">
            {{ goal.description }}
        </div>
        <!--/.Description block-->
    </div>
    <!--/.Left Panel-->

    <!--Right Panel-->
    <div class="right-panel col-md-4">
        <!--Title BLock-->
        <div class="goal-view-title">
            <h3 class="goal-public-title">
                {{ goal.title }}
            </h3>
        </div>
        <!--/.Title BLock-->

        <!--Left Time Block-->
        <div class="goal-view-left-time">
            <p>{{ 'goal_view.Осталось'|trans }}:</p>
            <p class="goal-view-public-days-left goal-view-block">
                {{ goal.getLeftTime() }}&nbsp;{{ 'goal_view.days'|trans }}
            </p>
        </div>
        <!--/.Left Time Block-->

        <!--Price Block-->
        <div class="goal-view-price">
            <p class="goal-view-money-left">{{ goal.price|number_format(0, ',', ' ')  }}&nbsp {{ 'goal_view.grn'|trans }}</p>
            <!--Elastic progress-->
            <div role="button"
                 tabindex="0"
                 aria-label="pricebar"
                 class="pricebar"
                 data-collected-partial="{{ goal.getAmount('partial') }}"
                 data-collected-full="{{ goal.getAmount() }}"
                 data-progressbar-label="Processing..."
            >
            </div>
            <!--/.Elastic progress-->
        </div>
        <!--/.Price Block-->

        <!--Target Block-->
        <div class="goal-view-target">
            <p class="goal-view-target-label">
                {{ 'goal_view.goal_target'|trans }}&#58;
            </p>
            <!--Target cards-->
            <div class="goal-view-target-container">
                <div class="goal-view-block goal-view-target-block-first">
                    {{ goal.target.title|trans }}
                </div>
                <div class="goal-view-block goal-view-target-block-second">
                    {{ goal.getReceiverTitle()|trans }}
                </div>
            </div>
            <!--Target cards-->
        </div>
        <!--/.Target Block-->

        <!--Buttons-->
        <div class="goal-view-actions-block">
            <!--Button trigger sharing modal-->
            <button type="button" class="btn goal-view-btn-share btn-lg" data-toggle="modal" data-target="#shareModal">
                {{ 'goal_view.share_to_friend'|trans }}
            </button>
            <!--/.Button trigger modal-->

            <!--Button Buy Now-->
            <button class="btn goal-view-btn-buy-now" role="button">
                {{ 'goal_view.buy_now'|trans }}
            </button>
            <!--/.Button Buy now-->

            <!--Action Links-->
            <a class="btn btn-primary btn-lg btn-width-50 pull-xs-left" role="button" href="{{ path('goal_edit', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}">
                {{ 'goal_view.edit'|trans }}
            </a>
            <a class="btn btn-default btn-lg btn-width-50 pull-xs-right" id="goal_view_btn_public" href="{{ path('goal_show', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}">
                {{ 'goal_view.public_page'|trans }}
            </a>
            <!--/.Action Links-->

            <!--Sharing modal-->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!--/.Modal Header-->
                        <div class="modal-header">
                            <button type="button" class="close text-to-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="share-modal-title"><h4 class="modal-title" id="myModalLabel">{{ 'goal_view.share_to_friend'|trans }}</h4></div>
                        </div>
                        <!--/.Modal Header-->

                        <!--Modal Body-->
                        <div class="modal-body sharing-body">
                            <span class="sharing_link">{{ url('goal_show', {'_locale': app.request.attributes.get('_locale'), 'id': goal.id}) }}</span>
                        </div>
                        <!--/.Modal Body-->

                        <!--Modal Footer-->
                        <div class="modal-footer">
                        </div>
                        <!--/.Modal Footer-->

                    </div>
                </div>
            </div>
            <!--/.Sharing modal-->
        </div>
        <!--/.Buttons-->

        <!--Statistic -->
        <div class="goal-view-stats">
            <h4>{{ 'goal_view.statistic'|trans|upper }}</h4>
            <p class="goal-view-stats-label">{{ 'goal_view.views'|trans }}</p>

            <!--Statistic table-->
            <table class="goal-view-social-table">
                <tr class="goal-view-social-table-images-row">
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/insta.png') }}"  alt="instagramm"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/vk.png') }}"  alt="v k"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/fb.png') }}"  alt="fb"/>
                    </td>
                    <td>
                        <img width="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/twitter.png') }}"  alt="twitter"/>
                    </td>
                    <td>
                        <img height="20" class="goal-view-social-icons" src="{{ asset('bundles/app/img/socials/ok.png') }}"  alt="ok"/>
                    </td>
                </tr>
                <tr id="social-counters">
                    <td>{{ goal.instaStat }}</td>
                    <td>{{ goal.vkStat }}</td>
                    <td>{{ goal.fbStat }}</td>
                    <td>{{ goal.twitterStat }}</td>
                    <td>{{ goal.okStat }}</td>
                </tr>
            </table>
            <!--/.Statistic table-->

            <hr />
        </div>
        <!--/.Statistic-->

        <!--Money Logs-->
        <div class="goal-view-money-logs">
            <h4>{{ 'goal_view.money_logs'|trans|upper }}</h4>

            <!--Money Logs table-->
            <table class="table" id="moneyLogs">
                {% if goal.moneyLogs|length < 1 %}
                    <tr>
                        <td colspan="3" style="text-align: left">
                            {{ 'goal_view.no_body_get_money'|trans }}...
                        </td>
                    </tr>
                {% else %}
                    {% for log in goal.moneyLogs %}
                        <tr>
                            <td>
                                {% if log.type == 1 %}
                                    {% if not log.user == false %}
                                        {% if not log.user.image == false %}
                                            {% if log.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                                                <img width=50 height=50 class="profile-user-avatar" src="{{ log.user.image.url }}" alt="avatar" />
                                            {% elseif log.user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                                                {%  if not log.user.image.media == false %}
                                                    <img width=50 class="profile-user-avatar" src="{% path log.user.image.media, 'small' %}" alt="avatar" />
                                                {% else %}
                                                    <img width=50 class="profile-user-avatar" src="{{ log.user.getDefaultAvatar() }}" alt="avatar" />
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <img width=50 class="profile-user-avatar" src="{{ log.user.getDefaultAvatar() }}" alt="avatar" />
                                        {% endif %}
                                    {% else %}
                                        <img width=50 src="https://cdn.bookbottles.com/front/assets/images/icon-guest.png" alt="no_avatar" />
                                    {% endif %}

                                {% elseif log.type == 2 %}
                                    <img width=50 height=50 src="http://agarioskins.com/submitted/useruploads/anonymous_mask_classic_round_sticker-r1f44743090f54cd995cf1a560de89582_v9waf_8byvr_512.png" alt="anonymous" />
                                {% endif %}
                            </td>
                            <td class="moneylog-name-and-date">
                                <span>
                                    {% if log.type == 2 %}
                                        {{ 'goal_view.money_log_anonymous'|trans }}
                                    {% elseif log.user == false %}
                                        {{ log.username }}
                                    {% else %}
                                        {{ log.user.username }}
                                    {% endif %}
                                </span>
                                <span class="moneylog-date">
                                    {{ log.createdAt|date('d F Y') }}
                                </span>
                            </td>
                            <td>
                                {{ log.amount|number_format(0, ',', ' ')  }}&nbsp{{ 'goal_view.grn'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </table>
            <!--/.Money Logs table-->

            <hr />

            <!--Show more button-->
            <div class="goal-view-moneylogs-show-more-container">
            {% if goal.moneyLogs|length > 3 %}
                <a href="javascript:" class="" id="loadMore">
                    {{ 'show_more'|trans|upper }}
                </a>
            {% endif %}
            </div>
            <!--/.Show more button-->
        </div>
        <!--/.Money Logs-->

        <!--Left amount block-->
        <div class="goal-view-amount-left">
            <div class="col-md-6">
                {{ 'goal_view.money_left'|trans }}
            </div>
            <div class="col-md-6 text-to-right">
                {{ goal.getMoneyLeft()|number_format(0, ',', ' ')  }}&nbsp{{ 'goal_view.grn'|trans }}
            </div>
        </div>
        <!--/.Left amount block-->
    </div>
    <!--/.Right Panel-->
{% endblock main %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/components/goals.js') }}"></script>
{% endblock javascripts %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/styles/normalize.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/styles/elastic.css') }}" rel="stylesheet">
{% endblock stylesheets %}
