{% trans_default_domain 'app' %}
<div class="profile-edit">
    <div class="col-xs-3">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-pills pills-ins tab-list"  role="tablist">
            <li class="tabs nav-item" >
                <a class="nav-link checked-default" id="first" data-toggle="tab" href="#panel11" role="tab"><i class="fa fa-user"></i>&nbspAccount settings</a>
            </li>
            <li class="tabs nav-item">
                <a class="nav-link" data-toggle="tab" id="second" href="#panel12" role="tab"><i class="fa fa-key" ></i>&nbspChange Password</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">

        <!-- Tab panels -->
        <div class="tab-content">

            <!--Panel 1-->
            <div class="tab-pane fade in active" id="panel11" role="tabpanel">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                    <p>
                        {% if not user.image == false %}
                            {% if user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                                <img width=100 class="profile-user-avatar" src="{{ user.image.url }}" alt="avatar" />
                            {% elseif user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                                {%  if not user.image.media == false %}
                                    <img width=100 class="profile-user-avatar" src="{% path user.image.media, 'small' %}" alt="avatar" />
                                {% else %}
                                    <img width=100 class="profile-user-avatar" src="{{ user.getDefaultAvatar() }}" alt="avatar" />
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <img width=100 class="profile-user-avatar" src="{{ user.getDefaultAvatar() }}" alt="avatar" />
                        {% endif %}

                        <a class="btn btn-primary" id="profile_avatar_change_button" href="javascript:">
                            {{ 'profile.edit_button'|trans }}
                        </a>
                    </p>
                    <div class="profile-edit-avatar-block">
                        {{ form_row(form.image) }}
                    </div>
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="btn btn-confirm" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>

                </form>
            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane fade" id="panel12" role="tabpanel">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                    {{ form_widget(formPasswords) }}
                    <div>
                        <input type="submit" class="btn waves-effect waves-light btn-confirm" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>

                </form>
            </div>
            <!--/.Panel 2-->
        </div>
    </div>
</div>

{% block javascripts %}
    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <script src="{{ asset('bundles/app/scripts/components/profile.js') }}"></script>
{% endblock javascripts %}
