{% extends "AppBundle::layout.html.twig" %}
{% trans_default_domain 'app' %}

{% block main %}
{% include "AppBundle:Profile:edit_content.html.twig" %}
{% endblock main %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/scripts/components/profile.js') }}"></script>
{% endblock javascripts %}
