{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'app' %}

{% block main %}
{% include "AppBundle:Profile:show_content.html.twig" %}
{% endblock main %}

{% block javascripts %}
    <script type="text/javascript"  src="{{ asset('bundles/app/scripts/components/profile.js') }}"></script>
{% endblock javascripts %}
