{% trans_default_domain 'app' %}
<div class="fos_user_user_show">
    <div class="user-avatar col-xs-4 top-padding">
        <p>
            {% if not user.image == false %}
                {% if user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_URL') %}
                    <img width=300 class="profile-user-avatar" src="{{ user.image.url }}" alt="avatar" />
                {% elseif user.image.getFrom == constant('ApiBundle\\Entity\\UserImage::GET_FROM_FILE') %}
                    {%  if not user.image.media == false %}
                        <img width=300 class="profile-user-avatar" src="{% path user.image.media, 'small' %}" alt="avatar" />
                    {% else %}
                        <img width=300 class="profile-user-avatar" src="{{ user.getDefaultAvatar() }}" alt="avatar" />
                    {% endif %}
                {% endif %}
            {% else %}
                <img width=300 class="profile-user-avatar" src="{{ user.getDefaultAvatar() }}" alt="avatar" />
            {% endif %}
        </p>
    </div>
    <div class="user-data col-xs-4 top-padding-bigger">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        <hr>
        <p>{{ 'profile.show.wishes'|trans }}: {{ user.wishes|length }}</p>
        <p>{{ 'profile.show.goals'|trans }}: {{ user.goals|length }}</p>
        <p>{{ 'profile.show.funds'|trans }}: {{ amountSum }}</p>
        {#<p>#}
            {#{{ 'profile.show.amount'|trans }}: {{ user.amount }}#}
            {#<a href="{{ path('add_funds') }}" class="btn btn-primary" >{{ 'add_funds' | trans }}</a>#}
            {#<a href="{{ path('withdraw_funds') }}" class="btn btn-success" >{{ 'withdraw_funds' | trans }}</a>#}
            {#<a href="{{ path('show_logs') }}" class="btn btn-default" >{{ 'show_all_operations' | trans }}</a>#}
        {#</p>#}
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">
                {{ 'profile.edit_button'|trans }}
            </a>
    </div>
</div>
