{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <p>

        <a href="{{ path('fos_user_profile_show') }}" class="waves-effect">
            &#8656; &nbsp;{{ 'back_to_profile'|trans }}
        </a>
    </p>

    {{ 'balance.total_balance' | trans }}:
    &#8372;&nbsp;{{ user.amount }}
    <table class="table table-hover" id="log_table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'balance.amount' | trans }}</th>
            <th>{{ 'balance.type' | trans }}</th>
            <th>{{ 'balance.service' | trans }}</th>
            <th>{{ 'balance.date' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set num = 1 %}
        {% for log in logs %}
            <tr id="{{ log.id }}">
                <td>{{ num }}</td>
                {% set num = num +1 %}
                <td>
                    {{ log.amount }}
                </td>
                <td>
                    {{ log.typeName }}
                </td>
                <td>{{ log.serviceName }}</td>
                <td>{{ log.date|date('Y-m-d H-i-s') }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main %}

{% block javascripts %}
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#log_table').DataTable();
        });
    </script>
{% endblock javascripts %}
