{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'app' %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock main %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/scripts/components/profile.js') }}"></script>
{% endblock javascripts %}
