{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'app' %}

{% block navbar_class %}navbar-transparent{% endblock %}

{% block carousel %}
    <!--Carousel Wrapper-->
    <div id="homepage-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item item active">
                <!--Caption-->
                <div class="flex-center animated fadeInDown">
                    <ul>
                        <li>
                            <h1 class="h1-responsive">PRESENT WISH</h1></li>
                        <li>
                            <p>We help your wishes comes true</p>
                        </li>
                    </ul>
                </div>
                <!--Caption-->
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item item">
                <!--Caption-->
                <div class="flex-center animated fadeInDown">
                    <ul>
                        <li>
                            <h1 class="h1-responsive">PRESENT WISH</h1></li>
                        <li>
                            <p>We help your wishes comes true</p>
                        </li>
                    </ul>
                </div>
                <!--Caption-->
            </div>
            <!--/.Second slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <a id="arrow-down" href="#">
            <img src="{{ asset('bundles/app/img/icon-splash-arrow.png') }}" alt=""/>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
{% endblock carousel %}

{% block main %}
    <section class="section feature-box">

        <!--Section heading-->
        <h1 class="section-heading">Why is it so great?</h1>
        <!--Section sescription-->
        <p class="section-description lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
            Quia, minima?</p>

        <!--First row-->
        <div class="row features-small">

            <!--First column-->
            <div class="col-md-4">
                <div class="col-xs-2">
                    <i class="fa fa-bullhorn blue-text"></i>
                </div>
                <div class="col-xs-10">
                    <h4 class="feature-title">Marketing</h4>

                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>

                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4">
                <div class="col-xs-2">
                    <i class="fa fa-cogs green-text"></i>
                </div>
                <div class="col-xs-10">
                    <h4 class="feature-title">Customization</h4>

                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>

                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4">
                <div class="col-xs-2">
                    <i class="fa fa-dashboard red-text"></i>
                </div>
                <div class="col-xs-10">
                    <h4 class="feature-title">Support</h4>

                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>

                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/Third column-->
        </div>
        <!--/First row-->

    </section>
{% endblock main %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/scripts/homepage.js') }}"></script>
{% endblock %}