//@footer-bg-color: #eee;
//nav {
//  .btn-login {
//    margin: 8px 0px;
//  }
//}
//.content {
//  min-height: 400px;
//}
//
//.footer {
//  height: 50px;
//  padding: 15px 25px;
//  background-color: @footer-bg-color;
//}

#moneyLogs tr, .profile-edit-avatar-block{
  display:none;
}

