body {
    font-weight: 300;
}
.no-shadow:not(:hover) {
    box-shadow: none;
}

/*Colors section*/
.bg-blue {
    background-color: #1e5d94;
}
.color-blue {
    color: #1e5d94;
}
.bg-gray {
    background-color: #50535c;
}
.color-gray {
    color: #50535c;
}
.bg-dark-gray {
    background-color: #363c45;
}
.color-dark-gray {
    color: #363c45;
}

.btn-orange {
    background-color: #f27c3d;
}
.btn-orange:hover, .btn-orange:focus {
    background-color: #e36b30;
}

.btn-primary {
    background-color: #1e5d94!important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #1e5d94;
}

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1e5d94;
    box-shadow: 0 1px 0 0 #1e5d94;
}

input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=search-md]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
textarea.md-textarea:focus:not([readonly]) + label {
    color: #1e5d94;
}

.md-form .prefix.active {
    color: #1e5d94;
}
/*Colors section*/

/*Global*/
html, body {
    height: 100%;
}

.no-padding {
    padding: 0!important;
}

.width-75-percent {
    width: 75%!important;
}

.text-to-right {
    text-align: right;
}

.main-menu-container li{
    text-transform: uppercase;
}
/*End Global*/

header a {
    color: #FFFFFF;
}
header a:focus,
header a:hover {
    color: #FFFFFF;
}

.double-nav {
    padding: 10px 0;
}

.navbar-brand {
    margin-left: 70px;
    max-height: 35px;
    padding: 0;
}
.navbar-brand img {
    width: auto;
}

.nav-item a:focus {
    border: none;
    outline: none;
}

.navbar-transparent:not(.top-nav-collapse) {
    background-color: rgba(30, 30, 30, 0.40);
    box-shadow: none;
}
@media (max-width: 992px) {
    .navbar-transparent:not(.top-nav-collapse) {
        margin-bottom: -56px;
    }
}

header .avatar {
    position: relative;
}
header .avatar img {
    height: 35px;
    float: left;
}
header .avatar span {
    float: right;
    margin: 6px 10px;
}
header .avatar .dropdown-toggle::after {
    display: none;
}
header .user-dropdown {
    width: 200px;
}
header .user-dropdown .dropdown-item {
    font-weight: 300;
}

footer {
    background-color: #363c45!important;
}
footer.page-footer {
    margin-top: 4rem;
}
footer .footer-links .col-md-4,
footer .call-to-action .col-md-12 {
    padding: 40px 0!important;
}
footer .footer-social {
    width: 50px;
}
footer .footer-social.btn-fb,
footer .footer-social.btn-tw,
footer .footer-social.btn-ins,
footer .footer-social.btn-pin,
footer .footer-social.btn-vk {
    background-color: transparent;
    margin: 10px 2px;
}
footer .footer-social.btn-fb:focus, footer .footer-social.btn-fb:hover,
footer .footer-social.btn-tw:focus, footer .footer-social.btn-tw:hover,
footer .footer-social.btn-ins:focus, footer .footer-social.btn-ins:hover,
footer .footer-social.btn-pin:focus, footer .footer-social.btn-pin:hover,
footer .footer-social.btn-vk:focus, footer .footer-social.btn-vk:hover {
    background-color: #6d7178;
}
footer .footer-links .title {
    margin-bottom: 15px;
    letter-spacing: .5px;
}
footer .footer-payment-links {
    padding: 5px 0 15px;
}
footer .footer-copyright {
    background-color: #232933;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
footer .fa-2x {
    font-size: 1.5em;
}
.footer-links {
    margin-top: 30px;
}
.footer-links a {
    font-size: 14px;
}

footer .call-to-action h6 {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 auto;
}

@media (max-width: 992px) {
    footer .call-to-action h6 {
        border: none;
    }
}
/*Homepage*/
#homepage-carousel {
    height: 100%;
}
#homepage-carousel #arrow-down {
    position: absolute;
    bottom: 10px;
    width: 70px;
    left: calc(50% - 35px);
    opacity: .6;
}
#homepage-carousel #arrow-down img {
    width: 100%;
    height: auto;
}
.carousel-item {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-item:nth-child(1) {
    background: url("../img/home-slider-1.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}
.carousel-item:nth-child(2) {
    background: url("../img/home-slider-2.jpeg");
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
}
.carousel-item h1 {
    font-size: 400%;
    font-weight: 200;
}
.flex-center {
    color: #fff;
}
.flex-center p {
    font-weight: 300;
}
.feature-box {
    text-align: center;
}
.feature-box.section .section-heading {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.feature-box.section .section-description {
    color: #757575;
    margin-bottom: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.feature-box .features-small {
    text-align: left;
}
.feature-box .features-small .fa {
    font-size: 2rem;
}
.features-small .col-md-4:not(:hover) .fa {
    color: #50535c!important;
}
.feature-box .feature-title {
    font-weight: 500;
    margin-bottom: 1rem;
}
/*End Homepage*/

/*Inside pages*/
.container.user-nav {
    margin-top: 65px;
}
.container.user-nav ul {
    display: inline-flex;
    width: 100%;
    margin: 25px auto 35px;
    line-height: 1.8;
}
.container.user-nav ul > li {
    width: 50%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    color: #d7e8c3;
    border-bottom: .1rem solid;
    cursor: pointer;
}
.container.user-nav ul > li.active {
    color: #93c445;
}
.container.user-nav ul > li.goals {
    margin-right: 15px;
}
.container.user-nav ul > li.wishes {
    margin-left: 15px;
}

/*End Inside pages*/

/*Wishes*/
.container.create-wish-form {
    max-width: 600px;
}
.container.create-wish-form .card-block {
    padding: 0 1.25rem;
}
.container.create-wish-form .md-form {
    margin-bottom: 0;
}

.create-wish-form .form-circle {
    border: 2px solid #c1d8de;
    color: #c1d8de;
    border-radius: 50%;
    float: left;
    width: 37px;
    height: 37px;
    text-align: center;
    padding: 6px 6px;
    margin: 7px 20px 0 0;
}
.create-wish-form .active .form-circle {
    border: 2px solid #7eadbd;
    color: #7eadbd;
}
.wish-files {
    min-height: 10.7rem;
    display: flex;
    position: relative;
    width: calc(100% - 60px);
    background-color: #c1d8de;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: .2rem;
    margin-bottom: 1rem;
}
.create-wish-form .form-control {
    width: calc(100% - 90px);
    border: none!important;
    box-shadow: none!important;
    background-color: #c1d8de;
    border-radius: 6px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}
.create-wish-form .form-control::-webkit-input-placeholder {
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1.2px;
    opacity: 1;
}
.create-wish-form .form-control::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}
.create-wish-form .form-control:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}
.create-wish-form .form-control:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.create-wish-form .active .form-control {
    background-color: #7eadbd;
}
.create-wish-form .btn-toolbar .btn-group:first-child,
.create-wish-form .wish-publicity:first-child {
    margin-left: 0;
}
.create-wish-form .btn-toolbar .btn-group:last-child,
.create-wish-form .wish-publicity:last-child {
    margin-right: 0;
}
.create-wish-form .wish-publicity {
    width: calc((100% - 90px)/3);
    background-color: #c1d8de;
    border-radius: 6px;
}
.create-wish-form .wish-publicity.active {
    background-color: #7eadbd;
}
#create_wish_form_create, #edit_wish_form_edit, #create_goal_form_create, #edit_goal_form_edit   {
    width: calc(100% - 55px);
    background-color: #93c445!important;
    margin-right: 0;
    border-radius: 6px;
}
.create-wish-form .btn-toolbar {
    margin-left: 0;
}
.create-wish-form .btn-toolbar .btn-group {
    width: calc((100% - 67px)/3);
}
.create-wish-form .btn-toolbar a {
    background-color: #c1d8de;
    padding: .3rem 0.6rem;
    margin: .1rem .3rem;
    width: calc((100% - 17px) / 4);
}
.create-wish-form .btn-toolbar .btn-info:focus,
.create-wish-form .btn-toolbar .btn-info:hover,
.create-wish-form .btn-toolbar .btn-info {
    background-color: #7eadbd!important;
}
#wish-description-editor {
    min-height: 10.7rem;
    position: relative;
    width: calc(100% - 57px);
    margin-left: 56px;
    background-color: #c1d8de;
    border-radius: 6px;
    color: #FFFFFF;
    margin-bottom: 1rem;
    padding: .4rem 1rem;
}
#wish-description-editor:focus,
#wish-description-editor:hover {
    border: none;
    outline: none;
}
#wish-description-editor.active {
    background-color: #7eadbd;
}
/*End Wishes*/

/*Start Wish Index*/
.masonry { /* Masonry container */
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.masonry img {
    margin: 0 auto;
}

.masonry .card-title {
    text-align: right;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .35rem;
}

.masonry .card-text {
    text-align: right;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

@media only screen and (min-width: 450px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 750px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

#add_wish {
    cursor: pointer;
    min-height: 200px;
    background-color: #c1d8de;
}
#add_wish:hover {
    background-color: #7eadbd;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
#add_wish .card {
    padding-top: 45px;
    margin: 0;
    background: transparent;
    min-height: 200px;
}
#add_wish .card-title {
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
}
#add_wish .card-text {
    font-size: 250%;
    color: #FFFFFF;
    text-align: center;
}
/*End Wish Index*/

@media only screen and (min-width: 768px) {
    .h1-responsive, .section .section-heading, .section-heading h1 {
        font-size: 170%;
    }
}

@media (max-width: 992px) {
    .double-nav .button-collapse {
        padding-top: 4px;
    }

    #homepage-carousel {
        margin-top: 0px;
    }

    .container.user-nav {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 0;
    }

    footer .footer-links .col-md-4 {
        padding-left: 4.5%!important;
    }

    .h1-responsive, .section .section-heading, .section-heading h1 {
        font-size: 200%;
    }
}
body {min-height: 500px;}

.dz-image img{
    width: 120px;
    height: 120px;
}

/* Goals */
.image-padding{
    padding: 3rem;
}

.image-padding img{
    margin:0 auto;
    max-height: 350px;
}

.goals-button{
    text-transform: uppercase;
    margin: 0;
    padding: 0.8rem;
    height: 3.5rem;
    font-size: 21px;
}

.goals-button:hover{
    background-color: #203861!important;
}

.no-margin-top{
    margin-top: 0!important;
}

.border-radiuses{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.popular-goals{
    margin-top: 65px;
    background-color: #E8EEEE;
}

.font-popular-goals{
    text-align: right;
    font-size: 2rem;
    font-weight: 600;
    color: #3B4A63;
    text-transform: uppercase;
}

.shadow-card{
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

.upper{
    text-transform: uppercase;
}

.left-time{
    border: 1px solid #93C444;
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    font-size: 22px;
    text-align: center;
}

.green-price{
    padding: 10px;
    padding-bottom: 30px;
    font-size: 22px;
    text-align: right;
    color: #93C444;
}

.price-amount{
    font-weight: 500;
}

.details-button{
    width: 15rem;
    padding: 0.4rem;
    font-size: 22px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #93C444;
}

.details-button:hover{
    background-color: #2E692E!important;
}

.goals-details{
    text-align: center;
}

.goal-state{
    padding: 10px;
    padding-bottom: 70px;
}

.opacity{
    opacity: 1!important;
}

.carousel-background{
    background-color: #E8EEEE;
}

.popular-goals-font{
    font-weight: normal;
    color: #3B4A63;
}

.no-shadow{
    box-shadow: none;
}

.carousel-multi-item .controls-top .btn-floating{
    background: #1e5d94!important;
}

.carousel-multi-item .carousel-indicators .active{
    background-color: #1e5d94!important;
}

.carousel-multi-item .carousel-indicators li{
    background-color: #1e5d94!important;
}

.carousel-multi-item .carousel-indicators li{
    margin-bottom: 0px;
}

.no-padding-left{
    padding-left:0!important;
}
/* End Goals */

/* image slider */
.list-group img {
    width: 60px;
    height: 60px;
}
.carousel-item img {
    /*max-width:400px;*/
    max-height:400px;
    /*min-width:400px;*/
    min-height:400px;
    display:block;
    margin:auto;
}
.carousel-indicators li{
    display: inline-flex;
}
/* end image slider */


/* goal view page */
.goal-public-title {
    font-weight:bold;
    text-transform: uppercase;
}
.goal-view-public-days-left{
    margin-top: -15px;
}
.goal-view-block{
    border: 1px solid grey;
    text-align: center;
    width: 130px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.goal-view-money-left{
    float: right;
}
.goal-view-left-time{
    margin-top:15px;
}
.pricebar{
    margin-left: 6px;
}
.goal-view-money-left {
    color: #9cbe60;
    font-weight: bold;
}
.goal-view-target{
    margin-top: 20px;
}
.goal-view-target-label {
    margin-left: 5px;
}
.goal-view-actions-block{
    width:99%;
}
.goal-view-actions-block button {
    width:100%;
    text-transform: uppercase;
}
.goal-view-actions-block a{
    width: calc(50% - 12px);
}
.goal-view-actions-block-first{
    float: left;
}
.goal-view-target-container{
    display: block;
    margin-left: 6px;
    width:99%;
}
.goal-view-target-container div{
    display: inline-block;
}
.goal-view-target-block-first{
    width:calc(60% - 6px);
    float: left;
    /*width:60%;*/
}
.goal-view-target-block-second{
    width:calc(40% - 6px);
    float:right;
    /*width:39%;*/
}
.goal-view-btn-buy-now{
    background-color: #92c444;
}
.goal-view-btn-share {
    background-color: #08506f;
}
#goal_view_btn_public {
    margin-right: -7px;
}
.goal-view-stats{
    margin-top: 100px;
    margin-left: 6px;
}
.goal-view-stats h4 {
    text-align: center;
}
.goal-view-description{
    margin-left: 17px;
    margin-top: 24px;
    text-align: justify;
}
.goal-view-social-table{
    width: 100%;
}
.goal-view-social-table td{
    text-align: center;
    padding: 3px !important;
}
#social-counters{
    background-color: #d9e0e3;
}
.goal-view-social-table-images-row td {
    padding-bottom: 25px !important;
}
.goal-view-amount-left div{
    background-color: #dae1e1;
}
#moneyLogs {
    text-align: right;
}
.goal-view-stats-label{
    text-transform: uppercase;
}
.goal-view-moneylogs-show-more-container{
    text-align: center;
    margin: 20px;
}
.goal-view-moneylogs-show-more-container a {
    color: #294d5d;
}
.moneylog-name-and-date span{
    display: block;
}
.moneylog-date{
    font-size: 0.7em;
    color: grey;
}
.share-modal-title{
    text-align: center;
}
#tmp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 none transparent;
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}
.sharing_link {
    position: relative;
    display: block;
    cursor: pointer;
}
.sharing-body{
    text-align: center;
}

/* @TODO Fix it */
.pricebar svg, .collected svg {
    height:200px;
}

/* end goal view page */


/*  goal show */
.fb-like, #vk_like, #twitter_share_button, #ok_shareWidget {
    text-align: left;
}
.fb-like {
    margin-left: -116px;
}
.goal-show-stats{
    margin-top: 30px;
    margin-left: 6px;
}
.goal-show-stats h4 {
    text-align: center;
}
.goal-view-money-logs h4{
    margin-left: 6px;
}
.goal-show-btn-give-money{
    width:100%;
    text-transform: uppercase;
    background-color: #08506f;
}
.goal-view-price{
    margin-left: 10px;;
}
/*  end goal show */

/* Profile show content*/

.top-padding{
    padding-top: 3rem;
}

.top-padding-bigger{
    padding-top: 4rem;
}

#limheight {
    height: 300px; /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
}

#limheight li {
    display: inline-block; /*necessary*/
}

.container.user-nav ul.tab-list{
    display:block!important;
}

.nav-tabs .nav-link{
    padding: 0;
}

.container.user-nav ul > li.tabs {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #d7e8c3;
    border-bottom: .1rem solid;
    cursor: pointer;
    width: 100%;
}
/* End Profile show content*/

/* goal create */

.target_dropdown, .receiver_dropdown{
    width:calc(100% - 57px);
    margin-left: 57px;
}

/* end goal create */
/* Profile edit */
.btn-confirm{
    padding: 0;
    font-style: normal;
    background-color: #1e5d94!important;
}

.btn-confirm:hover{
    background-color: #0275d8!important;
}

.tab-content{
    padding-top: 1.5rem;
}

.checked-default{
    outline: none!important;
    color: #014c8c!important;
}

#fos_user_profile_form_image_media_binaryContent{
    padding-bottom: 1rem;
    font-size: 14px;
}
/* End Profile edit*/

/* Sign UP/IN Modals */
#modal-sign-up h3,
#modal-sign-in h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 25px auto 20px;
}
#modal-sign-up .modal-header,
#modal-sign-in .modal-header {
    padding: 2rem 2rem 1rem;
    border: none;
}
#modal-sign-up .modal-body,
#modal-sign-in .modal-body {
    padding: 0 5rem 3rem;
}
#modal-sign-up .btn-floating.btn-small,
#modal-sign-in .btn-floating.btn-small {
    width: 40px;
    height: 40px;
}
#modal-sign-up .btn-floating.btn-small .fa,
#modal-sign-in .btn-floating.btn-small .fa {
    margin-top: 2px;
}
#modal-sign-up .btn-primary,
#modal-sign-in .btn-primary {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.2rem;
}
#modal-sign-up .fp-right,
#modal-sign-in .fp-right {
    width: 50%;
    font-size: 1rem;
    text-align: right;
    margin: 0.3rem auto;
}
/* End Sign UP/IN Modals */
